<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/" th:method="post">
    <textarea rows="10" cols="50">
<p th:if="${generator}" th:text="${generator}"/>
    </textarea>
    <br>
    <input type="number" value="5" step="1">
    <input type="submit" value="GENERATE!">
    <select name="option">
        <option value="1">PARAGRAPHS</option>
        <option value="2">SENTECNES</option>
        <option value="3">WORDS</option>
    </select>
</form>

</body>
</html>