<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/generate" th:method="post">
    <textarea th:text="${text}" rows="10" cols="50">

    </textarea>
    <br>
    <input name="number" type="number" value="5" step="1">
    <select name="option">
        <option value="1">PARAGRAPHS</option>
        <option value="2">SENTECNES</option>
        <option value="3">WORDS</option>
    </select>
    <input type="submit" value="GENERATE!">

</form>

</body>
</html>